<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
    <link rel="stylesheet" href="{{site.baseurl}}/css/style.css" />
</head>
<body>
	<header>
		<div class="container">	<!-- центровщик -->
			<div class="logo">
				<img src="#" width="#" height="#" alt="Match Arena">
			</div>
			<nav class="navigation">
				<ul>
					<li>
						<a href="privacy" >Политика конфиденциальности</a>
					</li>
					<li>
						<a href="terms" >Пользовательское соглашение</a>
					</li>
					<li>
						<a href="thirdparty" >Стороннее ПО</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>
	<main class="container">
	
		{{ content }}
		
		<nav class="navigation">
			<ul>
				<li>
					<a href="/{{ page.url | split: '/' | shift | shift | unshift: 'ru' | join: '/' }}" >Русский</a>
				</li>
				<li>
					<a href="/{{ page.url | split: '/' | shift | shift | unshift: 'en' | join: '/' }}" >English</a>
				</li>
				<li>
					<a href="/{{ page.url | split: '/' | shift | shift | unshift: 'de' | join: '/' }}" >Deutsch</a>
				</li>
			</ul>
		</nav>
	</main>
</body>
</html>